<mat-toolbar style="position: sticky; width: 100%; background-color: #f6a291;">
  <span>
      <button mat-button routerLink="/movies" style="font-size: 20px;">
          SharmilaFlix
      </button>
  </span>
  <span style="flex: 1 1 auto;">
      <button mat-button (click)="logoutUser()" routerLink="/" style="float: right; font-size: 16px;">
          Sign Out
      </button>
      <button mat-button (click)="userProfile()" style="float: right; font-size: 16px;">
          Profile
      </button>
  </span>
</mat-toolbar>
